[submodule "albatross_pro"]
	path = albatross_pro
	url = https://github.com/SadmanSakibFahim/albatross_pro.git
[submodule "albatross_docs"]
	path = albatross_docs
	url = https://github.com/SadmanSakibFahim/albatross_docs.git
